.App {
  text-align: center;
}
.links-container>*{
  text-decoration: none;
  color: black;
}
.kanban-columns{
  display: flex;
  justify-content: space-around;
  align-items: start;
}
.coments-text{
  position: relative;
}
.coments-text::before{
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background-color: gray;
  position: absolute;
  left: 0;

}